/* body{background-color:#FFEBEE}
.card{
    width:400px;
    background-color:#fff;border:none;
    border-radius: 12px
}
label.radio{
    cursor: pointer;
    width: 100%
}
label.radio input{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}
label.radio span{
    padding: 7px 14px;
    border: 2px solid #eee;
    display: inline-block;
    color: #039be5;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    line-height: 27px;
}
label.radio input:checked+span{
    border-color: #039BE5;
    background-color: #81D4FA;
    color: #fff;
    border-radius: 9px;
    height: 48px;
    line-height: 27px
}
.form-control{
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px
}
.form-control:focus{
    box-shadow: none;
    border: 2px solid #039BE5
}
.agree-text{
    font-size: 12px
}
.terms{
    font-size: 12px;
    text-decoration: none;
    color: #039BE5;
}
.confirm-button{
    height: 50px;
    border-radius: 10px;
}
.checkbox{
    background: rgb(240, 238, 238);
    width: 70px;
    display: flex;
    padding: 1px 6px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.checkbox > p{
    font-size: 12px;
}*/

.middle{
    position: absolute;
    opacity: 0;
    top: 45%;
    left: 40%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: .5s ease;
}
.crop-image{
    opacity: 1;
    display: block;
    backface-visibility: hidden;
    cursor: pointer;
}

.section-con {
    position: relative;
    display: block;
}

.crop-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.186);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in 1s;
}






/* // var $image = $('#image');

            // $image.cropper({
            //     aspectRatio: 16 / 9,
            //     crop: function(event) {
            //         console.log(event.detail.x);
            //         console.log(event.detail.y);
            //         console.log(event.detail.width);
            //         console.log(event.detail.height);
            //         console.log(event.detail.rotate);
            //         console.log(event.detail.scaleX);
            //         console.log(event.detail.scaleY);
            //     }
            //     });

            //     // Get the Cropper.js instance after initialized
            //     var cropper = $image.data('cropper');
            // }) */