{% extends "user_base.html" %}
{% load static %}
{% load cart_tags %}
{% block title %}
Cart
{% endblock %}



{% block content %}
<main class="main">
    {% include 'user_navbar.html' %}
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <div class="container">
        {% if messages %}
        {% for message in messages %}
            <p class="fw-bold text-danger mt-4">{{message}}</p>
        {% endfor %}
        {% endif %}
    </div>
    
    {% if cart_items %}
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr>
                                    <td class="image product-thumbnail"><img src="{% cart_image item %}" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="shop-product-right.html">{{ item.product.product_name }}</a></h5>
                                        <p class="font-xs fw-bold">( {{ item.color.color_name }} )</p>
                                    </td>
                                    <td class="price" data-title="Price"><span>{% selling_price item %}</span></td>
                                    <td class="text-center" data-title="Stock">
                                        <div class="quantity-control gap-1" style="display: flex;">
                                            <div style="width: 50px;">
                                                {% csrf_token %}
                                                <input type="hidden" value="{{item.cart_id}}">
                                                <input type="text" id="quantity{{forloop.counter}}"
                                                    class="quantity-control-input" value="{{ item.quantity }}">
                                            </div>
                                            <div style="display: flex; flex-direction: column;">
                                                <div class="" style="height: 50%;">
                                                    <a onclick="increaseQuantity(counter='{{forloop.counter}}', id='{{item.cart_id}}')"
                                                    id="up{{forloop.counter}}" class="quantity-control-btn"><i
                                                        class="fi-rs-angle-small-up" id="up{{forloop.counter}}"></i></a>
                                                </div>
                                                <div class="" style="height: 50%;">
                                                    <a onclick="decreaseQuantity(counter='{{forloop.counter}}', id='{{item.cart_id}}')"
                                                    id="down{{forloop.counter}}" class="quantity-control-btn"><i
                                                    class="fi-rs-angle-small-down"></i></a>
                                                </div> 
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <span id="sub_total{{forloop.counter}}">{% product_sub_total item %}</span>
                                    </td>
                                    <td class="action" data-title="Remove"><a
                                            onclick="remove_cart(id='{{ item.cart_id }}')" class="text-muted"><i
                                                class="fi-rs-trash"></i></a></td>
                                </tr>
                                {% endfor %}


                                <tr>
                                    <td colspan="6" class="text-end">
                                        <a id="clear" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-action text-end">
                        <a href="{% url 'user_product_app:list_products' %}" class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                    </div>
                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    <div class="row mb-50 justify-content-center">
                        
                        <div class="col-lg-6 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals">
                                <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <!-- <td class="cart_total_label">Cart Subtotal</td> -->
                                                <!-- <td class="cart_total_amount"><span
                                                        id="sub" class="font-lg fw-900 text-brand"></span></td> -->
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td class="cart_total_amount"><strong><span
                                                            id="sub_total" class="font-xl fw-900 text-brand">{% sub_total cart_items %}</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <a href="{% url 'checkout_app:checkout' %}" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <div style="width: 100%; height: fit-content; display: flex; justify-content: center; align-items: center;">
        <div>
            <img style="width: 500px;" src="{% static 'assets/imgs/shop/empty-cart.png' %}" alt="">
        </div>
    </div>
    {% endif %}
</main>
<footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-md-3 mb-lg-0">
                    <div class="row align-items-center">
                        <div class="col flex-horizontal-center">
                            <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                            <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                        </div>
                        <div class="col my-4 my-md-0 des">
                            <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                    shopping.</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Subscribe Form -->
                    <form class="form-subcriber d-flex wow fadeIn animated">
                        <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                        <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                    </form>
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                        </div>
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                        </p>
                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                            <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5 class="widget-title wow fadeIn animated">About</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-3">
                    <h5 class="widget-title wow fadeIn animated">My Account</h5>
                    <ul class="footer-list wow fadeIn animated">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">View Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Order</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="widget-title wow fadeIn animated">Install App</h5>
                    <div class="row">
                        <div class="col-md-8 col-lg-12">
                            <p class="wow fadeIn animated">From App Store or Google Play</p>
                            <div class="download-app wow fadeIn animated">
                                <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                        src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
                <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong>
                    - HTML Ecommerce Template </p>
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <h5 class="mb-5">Now Loading</h5>
                <div class="loader">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
<script>
    const remove_cart = (id) => {
        fetch(`https://www.mobilearc.store/cart/remove/${id}`)
            .then(response => response.json())
            .then(data => {
                if (data.status) {
                    Swal.fire({
                        title: 'Success',
                        text: data.text,
                        icon: ""
                    }).then(() => {
                        window.location.reload()
                    })
                }
                else {
                    Swal.fire({
                        title: 'Warning',
                        text: data.text,
                        icon: ""
                    }).then(() => {
                        window.location.reload()
                    })
                }
            })
    };



    const updateQty = (qty, cart_id) => {
        const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        return fetch('https://www.mobilearc.store/cart/update_quantity/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf_token
            },
            body: JSON.stringify({ cart_id: cart_id, qty: qty })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === true) {
                    const response_data = {
                        status: data.status,
                        total:data.total
                    }
                    return response_data;
                } else if (data.status === 'stockout') {
                    const response_data = {
                        status: false,
                    }
                    return response_data;
                } else {
                    const response_data = {
                        status: false,
                    }
                    return response_data;
                }
            });
    };

    async function decreaseQuantity(counter, id) {
        var quantityInput = document.getElementById('quantity' + counter);
        const subTotal = document.getElementById('sub_total'+counter)
        var qty = parseInt(quantityInput.value) - 1;
        const cart_id = parseInt(id);
        if(!qty == 0){
            const result = await updateQty(qty, cart_id);
            if(result.status == true){
                if (qty >= 1) {
                    document.getElementById('up'+counter).style.display = 'block'
                    update_sub_total()
                    quantityInput.value = parseInt(quantityInput.value) - 1;
                    subTotal.innerHTML = result.total
                }
            }else{
                document.getElementById('down'+counter).style.display = 'none'
            }
        }    
    }

    async function increaseQuantity(counter, id) {
        const subTotal = document.getElementById('sub_total'+counter)
        var quantityInput = document.getElementById('quantity' + counter);
        var qty = parseInt(quantityInput.value) + 1;
        const cart_id = parseInt(id);
        const result = await updateQty(qty, cart_id);
        if(result.status == true){
            document.getElementById('up'+counter).style.display = 'block'
            update_sub_total()
            quantityInput.value = parseInt(quantityInput.value) + 1;
            subTotal.innerHTML = result.total

        }else if(result.status == 'stockout'){
            document.getElementById('up'+counter).style.display = 'none'
        }else{
            document.getElementById('up'+counter).style.display = 'none'
        }
    }

    function update_sub_total(){
        fetch('https://www.mobilearc.store/cart/update_subtotal/')
        .then(response => response.json())
        .then(data => {
            if(data.status == true){
                document.getElementById('sub_total').innerHTML = data.total
            }
        })
    }

    document.getElementById('clear').addEventListener('click', function(){
        fetch('https://www.mobilearc.store/cart/clear/')
        .then(response => response.json())
        .then(data => {
            console.log('hey its working ')
            if(data.status == true){
                Swal.fire({
                        title: 'Success',
                        text: data.text,
                        icon: ""
                    }).then(() => {
                        window.location.reload()
                    })
            }else{
                Swal.fire({
                        title: 'Warning',
                        text: data.text,
                        icon: ""
                    }).then(() => {
                        window.location.reload()
                    })
            }
        })
    })


</script>

{% endblock %}