{% extends "user_base.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<main class="main">
    <div style="width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                {% if messages %}
                {% for message in messages %}
                <p class="{{ message.tags }}">{{ message }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="" style="width: 50%; display: flex; align-items: center;">
                <form method="post" class="card-body d-flex justify-content-center align-items-center flex-column" action="">
                    {% csrf_token %}
                    <div class="form-group w-50">
                        <input class="form-control w-100" type="password" placeholder="New Password" name="password"> 
                    </div>
                    <div class="form-group w-50">
                        <input class="form-control w-100" type="password" placeholder="Conform Password Password" name="conform_password"> 
                    </div>
                    <div class="w-50">
                        <input
                        name=""
                        id=""
                        class="btn btn-primary"
                        type="submit"
                    />
                    </div>
                </form>
            </div>
    </div>
</main>
{% endblock %}