{% extends "user_base.html" %}
{% load static %}
{% block title %}
Forgot password 
{% endblock %}
{% block content %}
<main class="main">
    <div style="width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <!-- {% if messages %}
        {% for message in messages %}
        <p id="error" class="text-danger">{{ message }}</p>
        {% endfor %}
        {% endif %} -->
        <p id="error" class="text-danger">{{ message }}</p>
        <div id="image_container" style="display: block;">
            <img id="image" style="width: 110px; height: 110px; border-radius: 100%;" src="{{ user_profile }}" alt="">
        </div>

        
        <div id="form_container" style="margin-top: 28px;" class="w-25">
            <form id="email_form" action="">
                {% csrf_token %}
                <div>
                    <input class="form-control w-100" placeholder="email" type="text" name="email" value="{{ email }}">
                </div>
                <div id="button_container" class="" style="display: block; margin-top: 22px;">
                    <div class="d-grid gap-2">
                        <a
                            name=""
                            id=""
                            class="btn btn-primary"
                            href="{% url 'user_app:sent_forget_password_otp' %}"
                            role="button"
                            >Sent OTP</a
                        >
                        
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}