{% extends "user_base.html" %}
{% load static %}


{% block title %}

{% endblock %}
 
{% block content %}
<div class="" style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center;">

  <div style="width: 30%;">
    <form class="row g-3" method="post">
        {% csrf_token %}
        <!-- ========== Start user or phone number messages ========== -->
            {% if messages %}
                {% for message in messages %}
                <p class="text-danger fw-semibold fs-6">{{ message }}</p>
                {% endfor %}
            {% endif %}
        <!-- ========== End user or phone number messages ========== -->
      <div class="col-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4" name="email">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Password</label>
        <input type="text" class="form-control" id="inputAddress" name="password">
      </div>      
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>

</div>
{% endblock content %}
