{% extends "user_base.html" %}
{% load static %}
{% load mathfilters %}
{% load product_tags %}
{% block title %}
Home
{% endblock %}

{% block styling %}
<style>
    .w-20{
        width: 20%;
    }
    .w-40{
        width: 40%;
    }
    .w-60{
        width: 60%;
    }
    .w-80{
        width: 80%;
    }
    .w-100{
        width: 100%;
    }
</style>
{% endblock %}



{% block content %}
    
    <main class="main">
        {% include 'user_nav.html' %}
        <div id="message_div" class="position-fixed alert justify-content-center align-items-center" role="alert" 
            style="top: -15%; left: 50%; right: 50%; z-index: 1; display: flex; background-color: rgba(51, 51, 51, 0.604); height: 52px; width: 52px; animation: ease-in-out;">
            <div>
                <a id="message_icon_container" class="" style="color: rgb(234, 233, 233); font-size: 36px;"></a>
            </div>
        </div>  
        <!-- Bread crumb -->
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="d-flex breadcrumb">
                    <a href="{% url 'user_app:user_home' %}" rel="nofollow">Home</a>
                    <span></span> 
                    <a href="{% url 'user_product_app:list_products' %}" rel="nofollow">Shop</a>
                    <span></span> 
                    <p style="font-size: 13px; cursor: pointer;">{{product_obj.product_name}}</p>
                </div>
            </div>
        </div>


        <!-- Product detailed view section -->
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row gap-2 mb-50">
                                <div class="col-md-5 col-sm-12 col-xs-12">

                                    <!-- Product main image -->
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider image-container" id="image-container">
                                            <figure id="mainImageContainer" class="border-radius-10">
                                             <img id="mainImg" src="" alt="">
                                            </figure>
                                        </div>


                                        <!-- Product image thumbniles -->
                                        <div id="thumbnileContainer" class="d-flex gap-1">
                                         
                                        </div>
                                </div>
                            </div>

                                <!-- Detail Info -->
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <!-- product name -->
                                        <h2 class="title-detail">{{ product_obj.product_name }}</h2>
                                        <div class="product-detail-rating">
                                            <!-- Brand name -->
                                            <div class="pro-details-brand">
                                                <span> Brands: <a href="shop-grid-right.html">{{ product_obj.pro_brand.brand_name }}</a></span>
                                            </div>

                                            <!-- Rating -->
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>

                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <!-- selling price -->
                                                <ins><span id="sellingPrice" class="text-brand">{{ product_obj.price|sub:product_obj.discount_price }}</span></ins>

                                                <!-- Orginal price -->
                                                <ins><span id="orginal_price" class="old-price font-md ml-15">{{ product_obj.price }}</span></ins>

                                                <!-- discount percentage -->
                                                <span id="percentage" class="save-price  font-md color3 ml-15"></span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                       
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>

                                        <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <!-- color variants -->
                                            <ul class="list-filter color-filter">
                                                {% for color in colors_obj %}
                                                <li id="color_{{forloop.counter}}" class="">
                                                    <a href="#" data-color="Red">
                                                        <span class="">
                                                            <img onclick="collectDetails(colorId='{{color.color_id}}', '{{forloop.counter}}')" src="{{ color.images.first.product_image.url }}" alt="">
                                                        </span>
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>

                                        <!-- Storage variant -->
                                        <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                            <ul id="storage_container" class="d-flex gap-2 list-filter size-filter font-small">
                                                  
                                            </ul>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink" style="display: flex;" id="cartDiv">
                                            <form class="d-flex" id="cart_form" method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="hidden" name="color_id" value="" id="colorId_input">
                                                <input type="hidden" name="storage_id" value="" id="storageId_input">
                                                <input type="hidden" name="offer_id" id="offer_id">
                                                <input type="hidden" name="offer_type" id="offer_type">
                                                <div class="d-flex">
                                                    <input style="width: 70px;" class="" type="number" id="quantity" name="quantity" value="1">
                                                     <div style="display: flex; flex-direction: column;">
                                                        <div class="" style="height: 50%;">
                                                            <a onclick="incrimentChecking()"
                                                            id="up" class="quantity-control-btn"><i
                                                                class="fi-rs-angle-small-up" id="up{{forloop.counter}}"></i></a>
                                                        </div>
                                                        <div class="" style="height: 50%;">
                                                            <a onclick="dicrimentChecking()"
                                                            id="down" class="quantity-control-btn"><i
                                                            class="fi-rs-angle-small-down"></i></a>
                                                        </div> 
                                                    </div>
                                                </div>
                                                <button class="btn btn-sm btn-primary ms-3">Add to cart</button>
                                            </form>
                                            <div class="d-inline product-extra-link2 ms-2">
                                                <a  class="action-btn hover-up" onclick="add_wishlist_item('{{product_obj.product_id}}')"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                        </div>
                                        <div id="outOfStockDiv" class="text-danger" style="display: none; width: fit-content; padding: 15px 100px; text-align: center; border-radius: 10px; border: rgb(166, 165, 165) solid 1px;">
                                            <h5 class="text-danger fw-bold">Out of stock</h5>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">Tags: <a href="#" rel="tag">{{ product_obj.pro_category.category_name }}</a>, <a href="#" rel="tag">{{ product_obj.pro_brand.brand_name }}</a>, <a href="#" rel="tag">{{ product_obj.product_name }}</a> </li>
                                            <li>Availability:<span class="in-stock text-success ml-5" id="stock_count"></span></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Detail Info -->
                            </div>


                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50">
                                        <p>{{ product_obj.product_disc }}</p>
                                        <ul class="product-more-infor mt-30">
                                            <li><span>OS</span>{{ product_obj.pro_category.category_name }}</li>
                                            <li><span>Brand</span>{{ product_obj.pro_brand.brand_name }}</li>
                                            <li>
                                                <span>Color</span> 
                                                {% for color in colors_obj %}
                                                {{ color.color_name }}
                                                {% if not forloop.last %}
                                                , 
                                                {% endif %}
                                                {% endfor %}
                                            </li>
                                            
                                        </ul>
                                        <hr class="wp-block-separator is-style-dots">
                                        <h4 class="mt-30">Packaging & Delivery</h4>
                                        <hr class="wp-block-separator is-style-wide">
                                        <p>Less lion goodness that euphemistically robin expeditiously bluebird smugly scratched far while thus cackled sheepishly rigid after due one assenting regarding censorious while occasional or this more crane
                                            went more as this less much amid overhung anathematic because much held one exuberantly sheep goodness so where rat wry well concomitantly.
                                        </p>
                                        <p>Scallop or far crud plain remarkably far by thus far iguana lewd precociously and and less rattlesnake contrary caustic wow this near alas and next and pled the yikes articulate about as less cackled dalmatian
                                            in much less well jeering for the thanks blindly sentimental whimpered less across objectively fanciful grimaced wildly some wow and rose jeepers outgrew lugubrious luridly irrationally attractively
                                            dachshund.
                                        </p>
                                    </div>
                                    <h3 class="section-title style-1 mb-30">Additional info</h3>
                                    <table class="font-md mb-30">
                                        <tbody>
                                            <tr class="stand-up">
                                                <th>Stand Up</th>
                                                <td>
                                                    <p>35″L x 24″W x 37-45″H(front to back wheel)</p>
                                                </td>
                                            </tr>
                                            <tr class="folded-wo-wheels">
                                                <th>Folded (w/o wheels)</th>
                                                <td>
                                                    <p>32.5″L x 18.5″W x 16.5″H</p>
                                                </td>
                                            </tr>
                                            <tr class="folded-w-wheels">
                                                <th>Folded (w/ wheels)</th>
                                                <td>
                                                    <p>32.5″L x 24″W x 18.5″H</p>
                                                </td>
                                            </tr>
                                            <tr class="door-pass-through">
                                                <th>Door Pass Through</th>
                                                <td>
                                                    <p>24</p>
                                                </td>
                                            </tr>
                                            <tr class="frame">
                                                <th>Frame</th>
                                                <td>
                                                    <p>Aluminum</p>
                                                </td>
                                            </tr>
                                            <tr class="weight-wo-wheels">
                                                <th>Weight (w/o wheels)</th>
                                                <td>
                                                    <p>20 LBS</p>
                                                </td>
                                            </tr>
                                            <tr class="weight-capacity">
                                                <th>Weight Capacity</th>
                                                <td>
                                                    <p>60 LBS</p>
                                                </td>
                                            </tr>
                                            <tr class="width">
                                                <th>Width</th>
                                                <td>
                                                    <p>24″</p>
                                                </td>
                                            </tr>
                                            <tr class="handle-height-ground-to-handle">
                                                <th>Handle height (ground to handle)</th>
                                                <td>
                                                    <p>37-45″</p>
                                                </td>
                                            </tr>
                                            <tr class="wheels">
                                                <th>Wheels</th>
                                                <td>
                                                    <p>12″ air / wide track slick tread</p>
                                                </td>
                                            </tr>
                                            <tr class="seat-back-height">
                                                <th>Seat back height</th>
                                                <td>
                                                    <p>21.5″</p>
                                                </td>
                                            </tr>
                                            <tr class="head-room-inside-canopy">
                                                <th>Head room (inside canopy)</th>
                                                <td>
                                                    <p>25″</p>
                                                </td>
                                            </tr>
                                            <tr class="pa_color">
                                                <th>Color</th>
                                                <td>
                                                    <p>Black, Blue, Red, White</p>
                                                </td>
                                            </tr>
                                            <tr class="pa_size">
                                                <th>Size</th>
                                                <td>
                                                    <p>M, S</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="social-icons single-share">
                                        <ul class="text-grey-5 d-inline-block">
                                            <li><strong class="mr-10">Share this:</strong></li>
                                            <li class="social-facebook"><a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                            <li class="social-twitter"> <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                            <li class="social-instagram"><a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                            <li class="social-linkedin"><a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                                        </ul>
                                    </div>
                                    <h3 class="section-title style-1 mb-30 mt-30">Reviews <span class="" style="font-size: 15px; color: black;">({{review_data.count}})</span></h3>
                                    <!--Comments-->
                                    <div class="comments-area style-2">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h4 class="mb-30">Customer reviews</h4>
                                                <div class="comment-list">
                                                    {% for item in review_data %}
                                                    <div class="single-comment justify-content-between d-flex">
                                                        <div class="user justify-content-between d-flex">
                                                            <div class="thumb text-center">
                                                                <img style="width: 50px; height: 50px;" src="{{item.customer.profile.url}}" alt="">
                                                                <h6><a href="#">{{item.customer.username}}</a></h6>
                                                                <!-- <p class="font-xxs">Since 2012</p> -->
                                                            </div>
                                                            <div class="desc">
                                                                <div class="product-rate d-inline-block">
                                                                    <div class="product-rating w-{% star_percentage item %}">
                                                                    </div>
                                                                </div>
                                                                <p>{{item.comment}}</p>
                                                                <div class="d-flex justify-content-between">
                                                                    <div class="d-flex align-items-center">
                                                                        <p class="font-xs mr-30">{{ item.created_at }}</p>
                                                                        <!-- <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <h4 class="mb-30">Customer reviews</h4>
                                                <div class="d-flex mb-30">
                                                    <div class="product-rate d-inline-block mr-15">
                                                        <div class="product-rating" style="width:90%">
                                                        </div>
                                                    </div>
                                                    <h6>4.8 out of 5</h6>
                                                </div>
                                                <div class="progress">
                                                    <span>5 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>4 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>3 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                                </div>
                                                <div class="progress">
                                                    <span>2 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                                </div>
                                                <div class="progress mb-30">
                                                    <span>1 star</span>
                                                    <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                                </div>
                                                <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="assets/imgs/shop/product-2-1.jpg" alt="">
                                                            <img class="hover-img" src="assets/imgs/shop/product-2-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">Ulstra Bass Headphone</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$238.85 </span>
                                                        <span class="old-price">$245.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="assets/imgs/shop/product-3-1.jpg" alt="">
                                                            <img class="hover-img" src="assets/imgs/shop/product-4-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="sale">-12%</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">Smart Bluetooth Speaker</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$138.85 </span>
                                                        <span class="old-price">$145.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="assets/imgs/shop/product-4-1.jpg" alt="">
                                                            <img class="hover-img" src="assets/imgs/shop/product-4-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="new">New</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">HomeSpeak 12UEA Goole</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$738.85 </span>
                                                        <span class="old-price">$1245.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap small hover-up mb-0">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="shop-product-right.html" tabindex="0">
                                                            <img class="default-img" src="assets/imgs/shop/product-5-1.jpg" alt="">
                                                            <img class="hover-img" src="assets/imgs/shop/product-3-2.jpg" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="product-action-1">
                                                        <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal
"><i class="fi-rs-search"></i></a>
                                                        <a aria-label="Add To Wishlist" class="action-btn small hover-up" href="shop-wishlist.html" tabindex="0"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn small hover-up" href="shop-compare.html" tabindex="0"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    <div class="product-badges product-badges-position product-badges-mrg">
                                                        <span class="hot">Hot</span>
                                                    </div>
                                                </div>
                                                <div class="product-content-wrap">
                                                    <h2><a href="shop-product-right.html" tabindex="0">Dadua Camera 4K 2021EF</a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$89.8 </span>
                                                        <span class="old-price">$98.8</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-img banner-big wow fadeIn f-none animated mt-50">
                                <img class="border-radius-10" src="assets/imgs/banner/banner-4.png" alt="">
                                <div class="banner-text">
                                    <h4 class="mb-15 mt-40">Repair Services</h4>
                                    <h2 class="fw-600 mb-20">We're an Apple <br>Authorised Service Provider</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong> - HTML Ecommerce Template </p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const messageDiv = document.getElementById('message_div')
        const messageIconContainer = document.getElementById('message_icon_container')
        const productIdInput = document.getElementById('productId_input')
        const colorIdInpupt = document.getElementById('colorId_input')
        const storageIdInput = document.getElementById('storageId_input')
        

        function collectDetails(colorId, count){
            const thumbnileContainer = document.getElementById('thumbnileContainer')
            const storageContainer = document.getElementById('storage_container')
            const mainImg = document.getElementById('mainImg')


            const url = 'get_details/' + colorId + '/'
            
            fetch(url)
            .then(response => response.json())
            .then(data => {
                thumbnileContainer.innerHTML = ''
                colorIdInpupt.value = data.cart_details.color_id
                data.image_data.forEach(function(item, index){
                    const imgDivTag = document.createElement('div')
                    const imgTag = document.createElement('img')
                    if(index == 0){
                        mainImg.src = item.link
                    }
                    imgTag.src = item.link
                    imgTag.style.height = '70px'
                    imgTag.onclick = function(){
                        changeMainImage(item.link)
                    }
                    imgDivTag.appendChild(imgTag)
                    thumbnileContainer.appendChild(imgDivTag)
                })
                
                storageContainer.innerHTML = ''
                data.storage_data.forEach(function(item, index){
                    if (index == 0){
                        const sellingPrice = document.getElementById('sellingPrice')
                        const discountPercentage = document.getElementById('percentage')
                        const stockCount = document.getElementById('stock_count')
                        const orginalPrice = document.getElementById('orginal_price')
                        const offerId = document.getElementById('offer_id')
                        const offerType = document.getElementById('offer_type')
                        if(item.stock >= 1){
                            document.getElementById('cartDiv').style.display = 'flex'
                            document.getElementById('outOfStockDiv').style.display = 'none'
                            orginalPrice.innerHTML = item.orginal_price
                            sellingPrice.innerHTML = '₹' + item.price
                            stockCount.innerHTML = item.stock
                            discountPercentage.innerHTML = item.percentage+'%'
                            storageIdInput.value = item.id
                            document.getElementById('quantity').value = 1
                            offerId.value = item.offer_id
                            offerType.value = item.offer_type
                        }else{
                            stockCount.innerHTML = item.stock
                            document.getElementById('cartDiv').style.display = 'none'
                            document.getElementById('outOfStockDiv').style.display = 'block'
                        }
                    }
                    const liTag = document.createElement('li')
                    const aTag = document.createElement('a')
                    aTag.innerHTML = item.ram + 'GB' + '/' + item.rom + 'GB'
                    aTag.id = `storage_${index}`
                    liTag.appendChild(aTag)
                    aTag.classList.add('remove')
                    liTag.onclick = function(){
                    changeProductPrice(item, index)
                    }
                    storageContainer.appendChild(liTag)
                })
            })
        }

        function changeMainImage(link){
            const mainImg = document.getElementById('mainImg')
            mainImg.src = link 
        }

        function changeProductPrice(item, index){
            const sellingPrice = document.getElementById('sellingPrice')
            const stockCount = document.getElementById('stock_count')
            const storage = document.getElementById(`storage_${index}`)
            const remove = document.querySelectorAll('.remove')
            const orginalPrice = document.getElementById('orginal_price')
            const discountPercentage = document.getElementById('percentage')
            const offerId = document.getElementById('offer_id')
            const offerType = document.getElementById('offer_type')
            if(item.stock >= 1){
                document.getElementById('cartDiv').style.display = 'flex'
                document.getElementById('outOfStockDiv').style.display = 'none'
                document.getElementById('quantity').value = 1
                remove.forEach(element => {
                    element.style.background = 'white'
                    element.style.color = 'black'
                })
                sellingPrice.innerHTML = '₹' + item.price
                orginalPrice.innerHTML = item.orginal_price
                storage.style.background = '#088178'
                stockCount.innerHTML = item.stock
                discountPercentage.innerHTML = item.percentage+'%'
                storageIdInput.value = item.id
                offerId.value = item.offer_id
                offerType.value = item.offer_type
            }else{
                stockCount.innerHTML = item.stock
                storage.style.background = 'gray'
                document.getElementById('cartDiv').style.display = 'none'
                document.getElementById('outOfStockDiv').style.display = 'block'
            }
            
        }

    
    const id = {{color_obj.color_id}}
    window.addEventListener('pageshow', function(event) {
        setFirstOne(colorId=id)
        const colorContainer = document.getElementById('color_1')
        colorContainer.classList.add('active')
        const storage = document.getElementById('storage_0')
    });

    function setFirstOne(colorId){
        collectDetails(colorId)
    }

    const imageContainer = document.getElementById('image-container');
    const image = document.getElementById('mainImg');

    imageContainer.addEventListener('mousemove', function(e) {
        const zoomLevel = 2; // Adjust zoom level as needed
        const x = e.pageX - this.offsetLeft;
        const y = e.pageY - this.offsetTop;
        const offsetX = x / this.offsetWidth * 50;
        const offsetY = y / this.offsetHeight * 50;

        image.style.transformOrigin = `${offsetX}% ${offsetY}%`;
        image.style.transform = `scale(${zoomLevel})`;
    });

    imageContainer.addEventListener('mouseleave', function() {
        image.style.transform = 'scale(1)';
    });


    const moniterTopStyle = () => {
        const topValue = messageDiv.style.top
        console.log(topValue);
        if(topValue === '15%'){

            setTimeout( () => {
                messageDiv.style.top = '-15%'
            },2000)
        }
    }
   
    const add_wishlist_item = (id) => {
        event.preventDefault();
        form = document.getElementById('cart_form')
        const formData = new FormData(form)
        const url = `http://127.0.0.1:8000/products/add_wishlist/${id}/`
        fetch(url, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.status){
                messageIconContainer.innerHTML = ''
                const tickTag = document.createElement('i')
                tickTag.classList.add('fa-regular', 'fa-circle-check')
                messageIconContainer.appendChild(tickTag)
                messageDiv.style.top = '15%'
                moniterTopStyle()
            }else{
                messageIconContainer.innerHTML = ''
                const crossTag = document.createElement('i')
                crossTag.classList.add('fa-regular', 'fa-circle-xmark')
                messageIconContainer.appendChild(crossTag)
                messageDiv.style.top = '15%'
                moniterTopStyle()
            }
        })
    }
    

    document.getElementById('cart_form').addEventListener('submit', function(event){
        event.preventDefault();

        const formData = new FormData(event.target)
        fetch('http://127.0.0.1:8000/cart/add/', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.status, data)
            if(data.status == true){
                messageIconContainer.innerHTML = ''
                const tickTag = document.createElement('i')
                tickTag.classList.add('fa-regular', 'fa-circle-check')
                messageIconContainer.appendChild(tickTag)
                messageDiv.style.top = '15%'
                moniterTopStyle()
            }else if (data.status == 'login'){
                window.location.href = 'http://127.0.0.1:8000/login/'
            }else{
                messageIconContainer.innerHTML = ''
                const crossTag = document.createElement('i')
                crossTag.classList.add('fa-regular', 'fa-circle-xmark')
                messageIconContainer.appendChild(crossTag)
                messageDiv.style.top = '15%'
                moniterTopStyle()
            }
        })
    })


    const incrimentChecking = () => {
        const storageId = document.getElementById('storageId_input')
        const quantity = document.getElementById('quantity')
        const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

        fetch('http://127.0.0.1:8000/products/quantity_check/',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf_token
            },
            body: JSON.stringify({storage_id:storageId.value, quantity:parseInt(quantity.value)+1})
        }).then(response => response.json())
        .then(data => {
            console.log(data)
            if(data.status == true){
                quantity.value = parseInt(quantity.value) + 1
            }
        })
    }

    function dicrimentChecking(){
        const storageId = document.getElementById('storageId_input')
        const quantity = document.getElementById('quantity')
        const csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

        fetch('http://127.0.0.1:8000/products/quantity_check/',{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf_token
            },
            body: JSON.stringify({storage_id:storageId.value, quantity:parseInt(quantity.value)-1})
        }).then(response => response.json())
        .then(data => {
            console.log(data)
            if(data.status == true){
                if(parseInt(quantity.value) > 1){
                    quantity.value = parseInt(quantity.value) - 1
                }
            }
        })
    }
    
    </script>

{% endblock %}