{% extends "base_page.html" %}
{% load static %}

{% block title %}
Add coupen
{% endblock %}


{% block content %}
{% include "admin_sidenav.html"%}
    
    <main class="main-wrap">
        {% include 'admin_nav.html' %}

        <div class="container mt-5 mb-5 d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
            <div class="mb-3">
                {% if messages %}
                    {% for message in messages %}
                    <p class="text-danger fw-semibold fs-6">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>
            

            <div class="card w-50 row justify-content-center align-items-center" style="height: 63%;">
                
                <form class="card-body" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6 class="card-title mb-2">Add Coupen</h6>
                    
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Name" value="{% if coupen_obj.coupen_name %}{{coupen_obj.coupen_name}}{% endif %}" name="coupen_name"> 
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Discription" value="{% if coupen_obj.discription %}{{coupen_obj.discription}}{% endif %}" name="discription"> 
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="code" value="{% if coupen_obj.coupen_code %}{{coupen_obj.coupen_code}}{% endif %}" name="coupen_code"> 
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Stock" value="{% if coupen_obj.coupen_stock %}{{coupen_obj.coupen_stock}}{% endif %}" name="coupon_stock"> 
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Coupen price" value="{% if coupen_obj.coupen_percentage %}{{coupen_obj.coupen_percentage}}{% endif %}" name="coupen_percentage"> 
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Condition amount" value="{% if coupen_obj.max_amount %}{{coupen_obj.max_amount}}{% endif %}" name="max_amount"> 
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="datetime-local" placeholder="Expire date" value="{% if coupen_obj.expiration_date %}{{coupen_obj.expiration_date}}{% endif %}" name="expire_date"> 
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block confirm-button mt-3">Submit</button>
                </form>
            </div>
        </div>
    </main>


    <script>
        const upload_image = document.getElementById('upload_image')
        const brand_image = document.getElementById('brand_image')

        upload_image.addEventListener('change', function(){
            if(upload_image.files[0]){
                const reader = new FileReader()
                reader.onload = function(e){
                    brand_image.src = e.target.result;
                }
                reader.readAsDataURL(upload_image.files[0])
            }
        })

    </script>
{% endblock %}