{% extends "base_page.html" %}
{% load static %}

{% block title %}
ADD PRODUCT
{% endblock %}


{% block content %}
{% include "admin_sidenav.html"%}

    <main class="main-wrap">
        {% include 'admin_nav.html' %}

        <section class="content-main">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger fw-semibold fs-6">{{ message }}</p>
                            {% endfor %}
                            {% endif %}
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product name</label>
                                    <input type="text" placeholder="Type here" name="product_name" class="form-control" id="product_name">
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" name="product_dic" class="form-control" rows="4"></textarea>
                                </div>
                        </div> <!-- card end// -->
                    <!-- card end// -->
                </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Organization</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2 col-12">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <h4>Media</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-upload">
                                            <img src="{% static 'assets2/imgs/theme/upload.svg' %}" alt="">
                                            <input class="form-control" type="file" name="product_image">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Brand</label>
                                    <select name="product_brand" id="brand_name" class="form-select" onchange="get_category()">
                                        <option selected>Brand</option>
                                        {% for item in brand %}
                                            <option value="{{item.brand_name}}">{{item.brand_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    <select name="product_category" id="category_area" class="form-select">
                                        <option selected >Category</option> 
                                    </select>
                                </div>
                            </div> <!-- row.// -->
                        </div>
                    </div> <!-- card end// -->
            </div>
        </div>
        </form>
        </section> <!-- content-main end// -->
    </main>


    <script>
        function get_category(){
            const brand_name = document.getElementById('brand_name').value;
            const category_area = document.getElementById('category_area');
            const url = 'getbrands/' + brand_name + '/';
            fetch(url)
            .then(response => response.json())
            .then(data => {
                category_area.innerHTML = '';
                var option = document.createElement('option');
                option.value = data.category_name;
                option.text = data.category_name;
                category_area.appendChild(option);
            
            }).catch(error => console.log(error));
        }
        
    </script>
    {% endblock content %}