{% extends "base_page.html" %}
{% load static %}

{% block title %}
Homeettwe
{% endblock %}


{% block content %}

{% include "admin_sidenav.html"%}

    
    <main class="main-wrap">
        {% include 'admin_nav.html' %}

        <div class="container mt-5 d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card px-1 w-50" style="height: 55%;">
                <form class="card-body" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h6 class="card-title mb-3">Update</h6>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">    
                                <input class="form-control" type="file" placeholder="Profile photo" name="profile"> 
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="username" name="username" value="{{user.username}}"> 
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group"> 
                                    <input class="form-control" type="text" placeholder="Mobile" name="phone_number" value="{{user.phone_number}}">
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-group"> 
                                    <input class="form-control" type="email" placeholder="Email ID" name="email" value="{{user.email}}"> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-block confirm-button mt-3">
                </form>
            </div>
        </div>
    </main>
{% endblock content %}