{% extends "base_page.html" %}
{% load static %}

{% block title %}
Homeettwe
{% endblock %}


{% block content %}
{% include "admin_sidenav.html"%}

    <main class="main-wrap">
        {% include 'admin_nav.html' %}

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form method="post"  enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class="text-danger fw-semibold fs-6">{{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Image</label>
                                    <input id="upload_image" class="form-control" type="file" name="category_image">
                                    <div class="d-flex justify-content-center mt-3">
                                        <img id="category_img" style="width: 130px;" src="#" alt="">
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Name</label>
                                    <input type="text" placeholder="Type here" name="name" class="form-control" id="product_name" />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" name="discription" class="form-control"></textarea>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary">Create category</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" />
                                                </div>
                                            </th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th class=""></th>
                                            <th class=""></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in cotegories %}
                                        <tr class="">
                                            <td>
                                                <div>
                                                    {% if item.category_image %}
                                                    <img src="{{ item.category_image.url }}" class="rounded-circle shadow-4 avatar avatar-sm me-3 border-radius-lg"
                                                    style="width: 40px; height: 40px;" alt="" />
                                                    {% else %}
                                                      <img src="{% static 'assets2/imgs/default.jpg' %}" class="rounded-circle shadow-4 avatar avatar-sm me-3 border-radius-lg" 
                                                      style="width: 40px; height: 40px;" alt="" >
                                                    {% endif %}
                                                  </div>
                                            </td>
                                            <td><b>{{ item.category_name }}</b></td>
                                            <td>{{ item.category_disc }}</td>
                                            <td>
                                                {% if item.category_active %}
                                                    <span class="badge rounded-pill bg-success">Active</span>
                                                {% else %}
                                                    <span class="badge rounded-pill bg-danger">Blocked</span>
                                                {% endif %}
                                            </td>
                                            <td><a class="fs-5" href="{% url 'admin_product_app:update_category' id=item.category_id %}"><i class="fa-solid fa-pen-to-square"></i></a></td>
                                            <td class="text-end">
                                                {% if item.category_active %}
                                                    <a class="text-danger fs-5" href="{% url 'admin_product_app:category_block_and_unblock' action='block' id=item.category_id %}"><i class="fa-sharp fa-solid fa-power-off"></i></a>
                                                {% else %}
                                                    <a class="text-success fs-5" href="{% url 'admin_product_app:category_block_and_unblock' action='unblock' id=item.category_id %}"><i class="fa-sharp fa-solid fa-power-off"></i></a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>



    <script>
        const category_img = document.getElementById('category_img')
        const upload_image = document.getElementById('upload_image')

        upload_image.addEventListener('change', function() {
            if (upload_image.files[0]) {
                const reader = new FileReader()
                
                reader.onload = function(e) {
                    category_img.src = e.target.result 
                }

                reader.readAsDataURL(upload_image.files[0])
            }
        })
    </script>
{% endblock content %}