{% extends 'base_page.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block content %}

{% include "admin_sidenav.html"%}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg main-wrap">
    {% include 'admin_nav.html' %}

        <section class="content-main mt-80 mb-80">
            <div class="card mx-auto card-login">
                <div class="card-body">
                    <h4 class="card-title mb-4">Sign in</h4>

                    <!-- This is login form -->
                    <form method="post">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger fw-semibold fs-6">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Name</label>
                            <input type="text" placeholder="Type here" name="name" value="{{category_obj.category_name}}" class="form-control" id="product_name" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" name="discription" value="{{category_obj.category_disc}}" class="form-control">{{category_obj.category_disc}}</textarea>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
                    
    
{% endblock content %}