{% extends "base_page.html" %}
{% load static %}

{% block title %}
ADD PRODUCT
{% endblock %}


{% block content %}
{% include "admin_sidenav.html"%}

    <main class="main-wrap">
        {% include 'admin_nav.html' %}

        <section class="content-main">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add new variant</h2>
                        <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                        </div>
                        <div class="card-body">
                            {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger fw-semibold fs-6">{{ message }}</p>
                            {% endfor %}
                            {% endif %}
                                <div class="mb-4">
                                    <label class="form-label">Product</label>
                                    <select name="product_name" id="product_name_area" class="form-select"  onchange="get_brand_and_category()">
                                        <option selected>product</option>
                                        {% for item in product_data %}
                                            <option>{{item.product_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea placeholder="Type here" name="product_dic" class="form-control" rows="4"></textarea>
                                </div>
                                <div class="mb-4">
                                    <label for="color" class="form-label">Product color</label>
                                    <input type="text" placeholder="Type here" name="color" class="form-control" id="product_name">
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="mb-4">
                                            <label class="form-label">price</label>
                                            <div class="row gx-2">
                                                <input placeholder="$" type="number" name="variant_price" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div> <!-- card end// -->
                    <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Media</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img src="{% static 'assets2/imgs/theme/upload.svg' %}" alt="">
                                <input class="form-control" type="file" name="product_image">
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Organization</h4>
                        </div>
                        <div class="card-body">
                            <div class="row gx-2">
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Category</label>
                                    <select name="variant_category" id="category_area" class="form-select">
                                        <option selected >Category</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label class="form-label">Brand</label>
                                    <select name="variant_brand" id="brand_area" class="form-select">
                                        <option selected >Brand</option>
                                    </select>
                                </div>
                            </div> <!-- row.// -->
                        </div>
                    </div> <!-- card end// -->
                </div>
            </div>
        </form>
        </section> <!-- content-main end// -->
    </main>


    <script>
        function get_brand_and_category(){
            const product_name = document.getElementById('product_name_area').value;
            const category_area = document.getElementById('category_area')
            const brand_area = document.getElementById('brand_area')
            const url = 'getcandb/' + product_name + '/';
            fetch(url)
            .then(response => response.json())
            .then(data => {
                category_area.innerHTML = '';
                brand_area.innerHTML = '';
                data.product_details.forEach(function(data){
                    option = document.createElement('option')
                    option.value = data.name
                    option.text = data.name
                    if(data.item == 'category'){
                        category_area.appendChild(option);
                    }
                    else if(data.item == 'brand'){
                        brand_area.appendChild(option)
                    }      
                })
            }).catch(error => console.log(error));
        }
        
    </script>
    {% endblock content %}