{% extends "base_page.html" %}
{% load static %}

{% block title %}
Brands
{% endblock %}


{% block content %}
{% include "admin_sidenav.html"%}

    <main class="main-wrap">
        {% include 'admin_nav.html' %}

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Brand </h2>
                    <p>Brand and vendor management</p>
                </div>
                <div>
                    <a href="{% url 'admin_product_app:add_brand' %}" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Add New Brand</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 mb-lg-0 mb-15 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6">
                            <div class="custom_select">
                                <label for="">Category</label>
                                <select class="form-select select-nice" onchange="window.location.href=this.value;" name="name" id="category_name">
                                    <option value="{% url 'admin_product_app:list_brands' %}?category='all' ">All</option>
                                    {% for item in categories %}
                                        <option {% if category_name == item.category_name %} selected {% endif %} value="{% url 'admin_product_app:list_brands' %}?category={{item.category_name}}">{{ item.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6">
                            <div class="custom_select">
                                <label for="">Status</label>
                                <select class="form-select select-nice" onchange="window.location.href=this.value;">
                                    <option {% if status_data == 'All' %} selected {% endif %} value="{% url 'admin_product_app:list_brands' %}?status='All' ">Show All</option>
                                    <option {% if status_data ==  'Active' %} selected {% endif %} value="{% url 'admin_product_app:list_brands' %}?status='Active' ">Active</option>
                                    <option {% if status_data == 'Blocked' %} selected {% endif %} value="{% url 'admin_product_app:list_brands' %}?status='Blocked' ">Blocked</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                
                <div class="card-body">
                    <div class="row gx-3">
                        {% for brand in brands_data %}
                        <div  class="col-xl-2 col-lg-3 col-md-4">
                            <figure class="card border-1 position-relative">
                                {% if brand.brand_active %}
                                    <span class="position-absolute start-100 translate-middle p-3 bg-success border border-light rounded-circle">
                                {% else %}
                                    <span class="position-absolute start-100 translate-middle p-3 bg-danger border border-light rounded-circle">
                                {% endif %}
                                  </span>
                                <div class="card-header bg-white text-center">
                                    {% if brand.brand_image %}
                                        <img src="{{ brand.brand_image.url }}" id="image" style="width: 100px; height: 100px;" class="rounded-circle shadow-4 avatar avatar-sm me-3 border-radius-lg" alt="Logo">
                                    {% else %}
                                        <img src="" style="width: 100px; height: 100px;" class="rounded-circle shadow-4 avatar avatar-sm me-3 border-radius-lg" alt="logo">
                                    {% endif %}

                                </div>
                                <figcaption class="card-body text-center">
                                    <h6 class="card-title m-0" id="brand_name">{{ brand.brand_name }}</h6>
                                    <a href="#" id="category_name"> {{brand.brand_category.category_name}} </a>
                                    <!-- <p>{{brand.brand_id }}</p> -->
                                </figcaption>
                                <div class="d-flex justify-content-around align-items-center pb-1">
                                    {% if brand.brand_active %}
                                        <a onclick="blockAndUnblock(action='block', id={{brand.brand_id}})"  class="fs-6 text-success"><i class="fa-solid fa-power-off"></i></a>    
                                    {% else %}
                                        <a onclick="blockAndUnblock(action='unblock', id={{brand.brand_id}})" class="fs-6 text-danger"><i class="fa-solid fa-power-off"></i></a>
                                    {% endif %}   
                                    <a href="{% url 'admin_product_app:update_brand' id=brand.brand_id %}" class="fs-6"><i class="fa-solid fa-pen-to-square"></i></a>   
                                </div>
                            </figure>
                        </div> <!-- col.// -->
                        {% endfor %}
                    </div> <!-- row.// -->
                </div> <!-- card-body end// -->
                
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->


        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
        <Script>
            function blockAndUnblock(action, id){
                const getNameURl = `/admin/products/brands/get_name/${id}`
                fetch(getNameURl)
                .then(response => response.json())
                .then(data => {
                    Swal.fire({
                title: `Are you sure to ${action}?`,
                text: data.name,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: `Yes, ${action} it`
                }).then((result) => {
                    if(result.isConfirmed){
                        const oprationUrl = `/admin/products/brands/${action}/${id}`
                        fetch(oprationUrl)
                        .then(response => response.json())
                        .then(data => {
                            if(data.status == 'success'){
                                Swal.fire({
                                title: data.title,
                                text: data.text,
                                icon: "success"
                                }).then(()=>{
                                    window.location.reload()
                                })
                            }else{
                                Swal.fire({
                                title: `Are you sure to Unblock`,
                                text: data.text,
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes, Unblock it!"
                                }).then((result)=>{
                                    if(result.isConfirmed){
                                        const categoryOparationURl = `/admin/products/category/${action}/${data.category_id}/`
                                        fetch(categoryOparationURl)
                                        .then(response => response.json())
                                        .then(data => {
                                            Swal.fire({
                                            title: data.title,
                                            text: data.text,
                                            icon: "success"
                                            }).then(()=>{
                                                window.location.reload()
                                            })
                                        })
                                    }
                                })
                            }
                        })
                    }
                })
            })
        }
            </Script>
{% endblock content %}

