{% extends "base_page.html" %}
{% load static %}

{% block title %}
ADD PRODUCT
{% endblock %}

    

{% block content %}
{% include "admin_sidenav.html"%}

    <main class="main-wrap">
        {% include 'admin_nav.html' %}

        <section class="content-main section-con">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="row justify-content-center">
                
                <div class="col-6">
                    <div class="d-flex justify-content-between">
                        <h2 class="fs-5">Add Color Variant</h2>
                        <div>
                            <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div>
                    </div>
                </div>
            

                <div class="row justify-content-center mt-4">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Details</h4>
                            </div>
                            <div class="card-body">
                                {% if messages %}
                                {% for message in messages %}
                                    <p class="text-danger fw-semibold fs-6">{{ message }}</p>
                                {% endfor %}
                                {% endif %}
                                <div class="row gx-2 col-12 mt-3">
                                    <div>
                                        <label for="" class="form-label">Color name</label>
                                        <input type="text" class="form-control" name="color">
                                    </div>
                                </div>
                                <div class="row gx-2 col-12 mt-4">
                                    <div class="card mb-4">
                                        <div class="card-header d-flex justify-content-between">
                                            <h4>Media</h4>
                                            <button type="button" class="btn btn-sm fw-bold text-white" style="background: #088178;" id="addMore">Add More</button>
                                        </div>
                                        <div class="card-body">
                                            <div class="input-upload row gap-3 justify-content-center" id="image-container">
                                                <div class="col-3 imageInputs">
                                                    <div class="" id="image-icon">
                                                        <img src="{% static 'assets2/imgs/theme/upload.svg' %}" id="media-0" alt="" >
                                                    </div>
                                                    <input class="form-control ps-1" onchange="setImage(event, idNum=0)" id="image-input-0" type="file" name="images">
                                                    <input class="form-control mt-2" value="1" type="number" name="order_1">
                                                </div> 
                                            </div>
                                            
                                        </div>
                                    </div> 
                                </div>
                            </div> <!-- card end// -->
                            <!-- card end// -->
                        </div>
                    </div>
                        
                </div>
            </div>
        </form>


        <div class="crop-container" id="crop-container">
            <div class="c-box" id="c-box">
                
            </div>
        </div>
        </section> 
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const addMoreButton = document.getElementById('addMore');
            const imageInputsContainer = document.getElementById('image-container');
            const media = document.getElementById('media');
            const imageInput = document.getElementById('image-input')
            let imageCount = 1;

            addMoreButton.addEventListener('click', function() {
                imageCount++;

                // Create new image input field
                const newImageInput = document.createElement('div');
                newImageInput.className = 'col-3';
                newImageInput.innerHTML = `
                    <div class="" id="image-icon">
                        <img src="{% static 'assets2/imgs/theme/upload.svg' %}" id="media-${imageCount}" alt="" >
                    </div>
                    <input class="form-control ps-1" type="file" id="image-input-${imageCount}" name="images">
                    <input class="form-control mt-2" type="number" name="order_${imageCount}" value="${imageCount}">
                `;
                imageInputsContainer.appendChild(newImageInput);

                const fileInput = document.getElementById(`image-input-${imageCount}`)
                const idNum = imageCount
                fileInput.addEventListener('change', function(event){
                    setImage(event, idNum)
                })
            });

           
        });  

        const setImage = (e, idNum) => {
            const imgTag = document.getElementById(`media-${idNum}`)
            const inputFile = document.getElementById(`image-input-${idNum}`)
            if (inputFile.files[0]){
                const reader = new FileReader()
                reader.onload = function(e){
                    imgTag.src = e.target.result
                }
                reader.readAsDataURL(inputFile.files[0])
            }
        }
           
    </script>
{% endblock content %}