{% extends "base_page.html" %}
{% load static %}

{% block title %}
Homeettwe
{% endblock %}


{% block content %}

{% include "admin_sidenav.html"%}
    
    <main class="main-wrap">
        {% include 'admin_nav.html' %}

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a>
                    <a href="{% url 'admin_product_app:add_product' %}" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" value="">
                            </div>
                        </div>
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                            <label for="">Brands</label>
                            <select name="category" class="form-select" onchange="window.location.href=this.value;">
                                <option value="{% url 'admin_product_app:list_products' %}?brand='all' ">All Brands</option>
                                {% for item in brands_data %}
                                    <option {% if brand_name == item.brand_name %} selected {% endif %} value="{% url 'admin_product_app:list_products' %}?brand={{item.brand_name}}">{{item.brand_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-2 col-6">
                            <div class="custom_select">
                                <label for="">Status</label>
                                <select class="form-select select-nice" onchange="window.location.href=this.value;">
                                    <option {% if status_data == 'All' %} selected {% endif %} value="{% url 'admin_product_app:list_products' %}?status='All' ">Show All</option>
                                    <option {% if status_data ==  'Active' %} selected {% endif %} value="{% url 'admin_product_app:list_products' %}?status='Active' ">Active</option>
                                    <option {% if status_data == 'Blocked' %} selected {% endif %} value="{% url 'admin_product_app:list_products' %}?status='Blocked' ">Blocked</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    {% for item in product_data %}
                    <article class="itemlist">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name d-flex align-items-center gap-3">
                                <div class="p-2 rounded-circle bg-dark text-white d-flex justify-content-center align-items-center" style="width: 27px; height: 27px;";>
                                    <a class="fs-6" href="{%  url 'admin_product_app:add_variant' id=item.product_id %}">
                                        <i class="fa-solid fa-plus text-white"></i>   
                                    </a>
                                </div>  
                                <div class="info">
                                    <h6 class="fw-bolder text-dark" style="font-size: .9rem;">{{item.product_name}}</h6>
                                    <p class="text-secondary" style="font-size: 13px;">{{item.pro_category.category_name}} / {{item.pro_brand.brand_name}}</p>
                               </div>
                            </div>
                            <div class="col-sm-2 col-4 col-price"> 
                                <a href="{% url 'admin_product_app:list_variant' id=item.product_id %}" class="d-flex justify-content-center align-items-center">
                                    <img src="{% static 'assets2/imgs/icons/variation.png' %}" style="width: 20px;" alt="">:
                                    {{item.colors.count}}
                                </a> 
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-status">
                                {% if item.product_active %}
                                <a href="{% url 'admin_product_app:product_block_and_unblock' action='block' id=item.product_id  %}" class="fs-6 text-success">
                                    <span class="badge rounded-pill alert-success">Active</span>
                                </a>
                                {% else %}
                                <a href="{% url 'admin_product_app:product_block_and_unblock' action='unblock' id=item.product_id  %}" class="fs-6 text-danger">
                                    <span class="badge rounded-pill alert-danger">Blocked</span>
                                </a>
                                {% endif %}
                            </div>
                            <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                                <a href="{% url 'admin_product_app:update_product' id=item.product_id %}" class="me-5 btn btn-sm font-sm rounded btn-brand me-3">
                                    <i class="material-icons md-edit"></i> Edit
                                </a>
                                <a href="" class="">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </div>    
                        </div> <!-- row .// -->
                    </article> <!-- itemlist  .// -->
                    {% endfor %}
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
{% endblock content %}