{% extends "base_page.html" %}
{% load static %}
{% load stock_tags %} 

{% block title %}
Stock
{% endblock %}

{% block content %}
{% include "admin_sidenav.html"%}
<main class="main-wrap">
    {% include 'admin_nav.html' %}
    <div class="" style="width: 100%; padding: 20px">
        <div style="width: 100%; display: flex; justify-content: center; align-items: center;">
            <div class="" style="width: 70%; padding:20px;">
                <h3 style="text-align: center;">{% total_product_stock  stock_obj %}</h3>
            </div>  
        </div>
        <div class="row justify-content-center mt-4">
            {% for item in stock_obj %}
            {% for color_item in item.colours %}
            <div class="col-10 mt-4" style="border-radius: 8px; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; padding:20px 10px;">
                <h4 style="text-align: center;" >{{ color_item.color_name }}<span class="badge bg-dark rounded ms-3">{% total_stock_of_one_colours color_item.storages %}</span></h4>
                <div class="row align-items-center justify-content-center gap-3 mt-4">
                    {% for storage_item in color_item.storages %}
                    <div class="col-3" style="background-color: #f4f5f9; box-shadow: rgb(204, 219, 232) 3px 3px 3px 0px inset, rgb(204, 219, 232) -4px -4px 3px 0px inset; padding: 20px; border-radius: 4px;">
                        <h6>Size: <span>{{ storage_item.rom }}/{{ storage_item.ram }}</span></h6>
                        <p>Stock: <span>{{ storage_item.stock }}</span></p>
                    </div>
                    {% endfor %}
                </div>  
            </div> 
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
