{% extends "base_page.html" %}
{% load static %}

{% block title %}
Update
{% endblock %}


{% block content %}

{% include 'admin_sidenav.html' %}

<main class="main-wrap">
    {% include 'admin_nav.html' %}

    <section class="content-main">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row justify-content-center">

                <div class="col-6">
                    <div class="d-flex justify-content-between">
                        <h2 class="fs-5">Update Storage</h2>
                        <div>
                            <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                            <button type="submit" class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div>
                    </div>
                </div>


                <div class="row justify-content-center mt-4">
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Details</h4>
                            </div>
                            <div class="card-body">
                                {% if messages %}
                                {% for message in messages %}
                                <p class="text-danger fw-semibold fs-6">{{ message }}</p>
                                {% endfor %}
                                {% endif %}

                                <div class="mb-4">
                                    <label for="ram" class="form-label">Rom</label>
                                    <input type="text" placeholder="Type here" name="rom" class="form-control" value="{{storage_obj.rom}}"
                                        id="ram">
                                </div>
                                <div class="mb-4">
                                    <label for="rom" class="form-label">Ram</label>
                                    <input type="text" placeholder="Type here" name="ram" class="form-control" value="{{storage_obj.ram}}"
                                        id="rom">
                                </div>
                                <div class="mb-4">
                                    <label for="price" class="form-label">Price</label>
                                    <input type="text" placeholder="Type here" name="price" class="form-control" value="{{storage_obj.price_of_size}}"
                                        id="price">
                                </div>
                                <div class="mb-4">
                                    <label for="stock" class="form-label">Stock</label>
                                    <input type="number" placeholder="Type here" name="stock" class="form-control" value="{{storage_obj.stock}}"
                                        id="stock">
                                </div>
                                <!-- card end// -->
                            </div>
                        </div>

                    </div>
                </div>



        </form>
    </section>
</main>
{% endblock %}