{% extends "base_page.html" %}
{% load static %}

{% block title %}
Variants
{% endblock %}

<style>
    /* .add-storage {
        display: flex;
        background: black;
        padding: 3px 10px;
        border: 20px;
        box-shadow: 3px 3px 5px 4px rgb(177, 176, 176);
    } */
</style>


{% block content %}
{% include "admin_sidenav.html"%}

    <main class="main-wrap">
        {% include 'admin_nav.html' %}

        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Variants </h2>
                    <p>Create {{product_obj.product_name}} variants here.</p>
                </div>
                <div>
                    <a href="{% url 'admin_product_app:add_variant' id=product_obj.product_id %}" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Add New Variant</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-2 col-6">
                            <div class="custom_select">
                                <label for="">Category</label>
                                <select class="form-select select-nice" onchange="window.location.href=this.value;" name="name" id="category_name">
                                    <option value="{% url 'admin_product_app:list_brands' %}?category='all' ">All</option>
                                    {% for item in categories %}
                                        <option {% if category_name == item.category_name %} selected {% endif %} value="{% url 'admin_product_app:list_brands' %}?category={{item.category_name}}">{{ item.category_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-2 col-6">
                            <div class="custom_select">
                                <label for="">Status</label>
                                <select class="form-select select-nice" onchange="window.location.href=this.value;">
                                    <option {% if status_data == 'All' %} selected {% endif %} value="{% url 'admin_product_app:list_brands' %}?status='All' ">Show All</option>
                                    <option {% if status_data ==  'Active' %} selected {% endif %} value="{% url 'admin_product_app:list_brands' %}?status='Active' ">Active</option>
                                    <option {% if status_data == 'Blocked' %} selected {% endif %} value="{% url 'admin_product_app:list_brands' %}?status='Blocked' ">Blocked</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                
                <div class="card-body">
                    <div class="row gap-3">
                        {% for variant in color_variant %}
                        <div class="card" style="width: 18rem;">
                
                            <div id="carouselExampleControls_{{ variant.color_id }}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    {% for image in variant.images.all %}
                                    <div class="carousel-item {% if forloop.first %} active  {% endif %}">
                                        <a href="{% url 'admin_product_app:variant_detailed_view' id=variant.color_id %}">
                                            <img src="{{ image.product_image.url }}" class="d-block w-100" alt="...">
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls_{{ variant.color_id }}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls_{{ variant.color_id }}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                
                            <div class="card-body">
                                <a href="{% url 'admin_product_app:variant_detailed_view' id=variant.color_id %}">
                                    <h5 class="card-title">{{ variant.color_name }}</h5>
                                    <!-- <p>{{variant.color_id}}</p> -->
                                <div style="display: flex;
                                align-items: center;
                                width: 50%;
                                background: white;
                                border-radius: 20px;
                                padding: 5px 6px;
                                border: 20px;
                                box-shadow: 2px 2px 2px 1px rgb(177, 176, 176);">
                                    <div style="display: flex; justify-content: center; align-items: center; background: #141432; border-radius: 100%; padding: 0 5px;">
                                        <a class="fs-6" href="{% url 'admin_product_app:add_storage_variant' product_id=product_obj.product_id id=variant.color_id %}">
                                            <i class="fa-solid fa-plus text-white"></i>
                                        </a>
                                    </div>
                                    <p style="font-size: .7rem; font-weight: bolder; margin-left: 13px;">
                                        Storage: 
                                        <span style="font-weight: bold;">{% if variant.storage %} {{variant.storage.count}} {% else %} 0 {% endif %}</span>
                                        
                                    </p>
                                </div>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
{% endblock content %}