{% extends "base_page.html" %}
{% load static %}


{% block CDN %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/imgs/theme/favicon.svg' %}">
<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}

{% block title %}
ADD PRODUCT
{% endblock %}


{% block content %}
{% include "admin_sidenav.html"%}
<main class="main-wrap">
    {% include 'admin_nav.html' %}
    <section class="content-main mt-50 mb-50">
        <div class="container">
            <class class="row">
                <div class="col-lg-12">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <a class="zoom-icon text-white" style="cursor: pointer;"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        
                                        <figure class="border-radius-10">
                                            <img src="" id="image_area" alt="product image">
                                        </figure>
                                      
                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        {% for image in color_obj.images.all %}
                                        <div>
                                            <img src="{{image.product_image.url}}" id="image{{forloop.counter}}" onload="change_photo({{forloop.counter}})" onclick="change_photo({{forloop.counter}})" alt="product image">
                                            <div style="width: 100%; height: 20px; display: flex; justify-content: space-between; align-items: center; padding: 0 4px;"> 
                                                <a href="{% url 'admin_product_app:change_image' image=image.image_id id=color_obj.color_id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                                <a href="{% url 'admin_product_app:delete_image' image_id=image.image_id id=color_obj.color_id %}"><i class="fa-solid fa-trash"></i></a>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail">{{color_obj.product.product_name}}</h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand" style="display: flex; flex-direction: column;">
                                            <span> category: <a href="shop-grid-right.html">{{color_obj.product.pro_category.category_name}}</a></span>
                                            <span> Brands: <a href="shop-grid-right.html">{{color_obj.product.pro_brand.brand_name}}</a></span>
                                        </div>
                                        <!-- <div class="product-rate-cover text-end">
                                            <div class="product-rate d-inline-block">
                                                <div class="product-rating" style="width:90%">
                                                </div>
                                            </div>
                                            <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                        </div> -->
                                    </div>
                                    <div class="clearfix product-price-cover">
                                        <div class="gy-3 product-price primary-color float-left" style="display: flex; flex-direction: column;">
                                            <ins><span class="text-brand">{{color_obj.product.price}}</span></ins>
                                            <div>
                                                <ins><span class="old-price font-md ml-15">${{color_obj.product.discount_price}}</span></ins>
                                            <span class="save-price  font-md color3 ml-15">25% Off</span>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p>{{color_obj.product.product_disc}}</p>
                                    </div>
                                    <div class="product_sort_info font-xs mb-30">
                                        <!-- <ul>
                                            <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                            <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                        </ul> -->
                                    </div>
                                    <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">Color</strong>
                                        <p>{{color_obj.color_name}}</p>
                                    </div>
                                    <div class="attr-detail attr-size d-flex">
                                        <strong class="mr-10">Size</strong>
                                        <ul class="list-filter size-filter font-small">
                                            {% if product_obj.storage.ram is not None  %}
                                            <li>Ram: {{product_obj.storage.ram}}</li>
                                            <li>Rom: {{product_obj.storage.rom}}</li>
                                            {% else %}
                                            <li>Ram: No</li>
                                            <li>Rom: No</li>
                                            {% endif %}
                                        </ul>
                                        </ul>


                                    </div>
                                </div>  
                        </div>
                    </div>
                </div>
            </class>
        </div>
    </section>
</main>
<script>
    function change_photo(id){
        const image_url = document.getElementById('image'+id).src;
        let image_area = document.getElementById('image_area');
        image_area.src = image_url;
    }
</script>

{% endblock content %}