{% extends "base_page.html" %}
{% load static %}


{% block CDN %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/imgs/theme/favicon.svg' %}">
<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock %}



{% block title %}
ADD PRODUCT
{% endblock %}



{% block content %}
{% include "admin_sidenav.html"%}
<main class="main-wrap">
    {% include 'admin_nav.html' %}
    <section class="content-main mt-50 mb-50">
        <div class="container" style="display: flex; flex-direction: column;">
            <!-- variant detials -->
            <div class="">

                <!-- product name -->
                <div>
                    <h1 style="font-family: sans-serif;">{{product_obj.product_name}}     
                    {% if product_obj.product_active %}
                        <span class="ms-2 fs-6 rounded-pill bg-success">Active</span>
                    {% else %}
                        <span class="ms-2 fs-6 badge rounded-pill bg-danger">Blocked</span>
                    {% endif %}
                        
                    </h1>
                    <p style="font-weight: bold; margin-top: 3px;">{{product_obj.pro_category.category_name}} / {{product_obj.pro_brand.brand_name}}</p>
                </div>

                <!-- color namd and storage -->
                <div style="margin-top: 40px; width: 60%; background: white; border-radius: 10px; 
                padding: 17px 20px; box-shadow: 3px 3px 10px 3px #e3e3e3;">
                    <h3 style="font-family: sans-serif; font-weight: bold;">{{color_obj.color_name}}</h3>
                    <div class="" style="margin-top: 25px; display: flex; gap: 15px;">
                        {% for item in color_obj.storage.all %}
                        <div class=""
                            style="display: flex; justify-content: center; align-items: center; background: #f8f9fa; padding: 7px 8px; border-radius: 8px;">
                            <p style="font-size: 14px; font-weight: bold; color: black;">{{item.ram}} / {{item.rom}}</p>
                            <div style="background: white; border-radius: 100%; padding: 2px 7px; margin-left: 8px; ">
                                <p style="color: black; font-size: 13px; font-weight: bolder; text-align: center;">
                                    {{item.stock}}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- product details -->
                <div class="" style="width: 60%; background: white; border-radius: 10px; display: flex; justify-content: center; align-items: center; margin-top: 45px; box-shadow: 3px 3px 10px 3px #e3e3e3; padding: 16px;">
                    <div style="width: 100%; border-radius: 10px; padding: 15px 20px; background: #f8f9fa;">
                        <p style="font-size: 15px; font-weight: 600;">
                            {{product_obj.product_disc}}
                        </p>
                    </div>
                </div>

                <!-- varaint images -->
                <div style="margin-top: 50px;">

                    <div class="row ">
                        {% for image in color_obj.images.all %}
                        <!-- <div class="col-lg-4 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="{{ image.product_image.url }}" alt="">
                          </a>
                          <div class="product-action-1">
                            <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                <i class="fi-rs-search"></i></a>
                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                        </div>

                        </div> -->
                        <div class="col-lg-4 col-md-4 col-sm-6" >
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <img class="default-img pointer" id="image" src="{{image.product_image.url}}" alt="image" style="cursor: pointer;">  
                                    </div>
                                    <div class="product-action-1">
                                        <a aria-label="Edit" class="action-btn hover-up" href="{% url 'admin_product_app:change_image' image_id=image.image_id id=color_obj.color_id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a aria-label="Delete" class="action-btn hover-up" href="{% url 'admin_product_app:delete_image' image_id=image.image_id id=color_obj.color_id %}"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        {% endfor %}
                      </div>
                    

                </div>
            </div>
        </div>
    </section>
</main>
<script>

</script>

{% endblock content %}